.sb-table {
  &--td-py-small {
    .sb-table__table-cell {
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }
  }
  &__table {
    display: table;
    width: 100%;
  }
  &__table-row {
    display: table-row;
    &--border-bottom {
      .sb-table__table-cell {
        border-bottom: 1px solid #e5e5e5;
      }
    }
    &--pb0 {
      .sb-table__table-cell {
        padding-bottom: 0;
      }
    }
    &--pt0 {
      .sb-table__table-cell {
        padding-top: 0;
      }
    }
    &--v-bottom {
      .sb-table__table-cell {
        vertical-align: bottom;
      }
    }
    &--v-middle {
      .sb-table__table-cell {
        vertical-align: middle;
      }
    }
    &--50-50 {
      .sb-table__table-cell {
        width: 50%;
      }
    }
    &--50-30-20 {
      .sb-table__table-cell {
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 30%;
        }
        &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }
  &__table-cell {
    display: table-cell;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1a1a1a;
    padding-left: 20px;
    padding-right: 20px;
    //word-break: break-word;
    p {
      line-height: 1.6;
      //word-break: break-word;
    }
    &:first-child {
      padding-left: 0;
    }
    &--th {
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #9b9b9b;
      vertical-align: middle;
      line-height: 1.3em;
      padding-top: 3px;
      padding-bottom: 6px;
      vertical-align: top;
    }
  }
  &__text {
    &--small {
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #9b9b9b;
    }
  }
  &__dashed-wrap {
    &:before {
      content: '';
      display: block;
      left: 5px;
      right: -24px;
      bottom: 6px;
      border-bottom: 1px dashed #bfbfbf;
      position: absolute;
      z-index: 1000;
    }
    p {
      display: inline-block;
      z-index: 1200;
      background: white;
      position: relative;
      padding-right: 10px;
    }
  }
  &__doc-link {
    margin-left: 40px;
    float: left;
    &--doc {
      &:before {
        background-image: url(../img/design/doc@3x.png);
      }
    }
    &--pdf {
      &:before {
        background-image: url(../img/design/pdf@3x.png);
      }
    }
    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 30px;
      margin-top: -14px;
      top: 50%;
      left: -40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
    }
  }
}

#search_result{
  .plans-content{
    .sb-table-list-item__cell,
    .sb-table-list-header__cell{
      width: 10%;
      padding: 15px;
      box-sizing: border-box;
      &:first-child{
        width: 40%;
      }
      &:nth-child(2){
        width: 20%;
      }
      p{
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .sb-table-list-header__cell{
      background: rgba(244, 244, 244, 0.5);
      color: #5a5959;
      border-right: 2px solid #fff;
      &:last-child{
        border-right: 0;
      }

    }
    .sb-table-list-header{
      border-bottom: 0;
    }
    .sb-table-list-item__cell{
      vertical-align: middle;
    }
    .sb-table-list-item__cell{
      color:  #424242;
    }

    .sb-table-list-item__table{
      border-bottom: 1px solid rgba(233, 233, 233, 0.5);
    }
    .sb-table-list-item{
      border-bottom: 0;
      padding: 0;
    }

  }
  .tenders-content{
    .sb-table-list-item__cell,
    .sb-table-list-header__cell{
      width: 10%;
      box-sizing: border-box;
      padding: 15px ;
      &:first-child{
        width: 50%;
      }
      &:nth-child(2){
        width: 30%;
      }
      p{
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .sb-table-list-header__cell{
      background: rgba(244, 244, 244, 0.5);
      color: #5a5959;
      border-right: 2px solid #fff;
      &:last-child{
        border-right: 0;
      }

    }
    .sb-table-list-header{
      border-bottom: 0;
    }
    .sb-table-list-item__cell{
      color:  #424242;
    }

    .sb-table-list-item__cell{
      vertical-align: middle;
    }
    .sb-table-list-item__table{
      border-bottom: 1px solid rgba(233, 233, 233, 0.5);
    }
    .sb-table-list-item{
      border-bottom: 0;
      padding: 0;
    }
  }


}
