$sb-table-list-header-border-color: #e5e5e5;
.sb-table-list-header {
  border-bottom: 1px solid $sb-table-list-header-border-color;
  &__table {
    display: table;
    width: 100%;
  }
  &__cell {
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    color: #9b9b9b;
    padding: 0 20px 10px 0;
    &:nth-child(1) {
      width: 50%;
    }
    &:nth-child(2) {
      width: 30%;
    }
  }
}
