.c-footmenu {
  background: #1f1f1f;
  /*.c {
    @extend .padding-left;
    @extend .padding-right;
  }
  &__wrap {
    @extend .padding-left;
    @extend .padding-right;
    @extend .padding-top;
    @extend .padding-bottom;
  }*/
  &__center {
    @extend .max-width-inner;
    margin: 0 auto;
    text-align: center;
  }
  &__list {
    li {
      text-align: left;
      padding-bottom: 15px;
      &:last-child {
        padding-bottom: 0;
      }
      a {
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
        color: #ffffff;
        @extend .transition-down;
        &:hover {
          color: $text-color-nav-hover;
          @extend .transition;
        }
      }
    }
  }
  &__col {
    padding-right: 20px;
  }
}
