@font-face {
  font-family: 'Lato-Heavy';
  src: url('/integer/yptender.md/theme/assets/fonts/Lato-Heavy/Lato-Heavy.eot');
  src: local('☺'), url('/integer/yptender.md/theme/assets/fonts/Lato-Heavy/Lato-Heavy.woff') format('woff'), url('/integer/yptender.md/theme/assets/fonts/Lato-Heavy/Lato-Heavy.ttf') format('truetype'), url('/integer/yptender.md/theme/assets/fonts/Lato-Heavy/Lato-Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/integer/yptender.md/theme/assets/fonts/Lato-Regular/Lato-Regular.eot');
  src: local('☺'), url('/integer/yptender.md/theme/assets/fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('/integer/yptender.md/theme/assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('/integer/yptender.md/theme/assets/fonts/Lato-Regular/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('/integer/yptender.md/theme/assets/fonts/Lato-Italic/Lato-Italic.eot');
  src: local('☺'), url('/integer/yptender.md/theme/assets/fonts/Lato-Italic/Lato-Italic.woff') format('woff'), url('/integer/yptender.md/theme/assets/fonts/Lato-Italic/Lato-Italic.ttf') format('truetype'), url('/integer/yptender.md/theme/assets/fonts/Lato-Italic/Lato-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
