/*********************
width for center blocks
*********************/

/*
 some page
 ___________________________________________________
|.w    _______________________________________	    |
|     |.c (max-width: $max-width;)			      |	    |
|     | _____________________________________ |	    |
|     ||div					                         ||	    |
|     ||									                   ||	    |
|     | ------------------------------------- |	    |
|     |    _______________________________	  |	    |
|     |   |.some-class (				          |	  |	    |
|     |   |max-width: $max-width-inside;) |	  |	    |
|     |    -------------------------------    |	    |
|      --------------------------------------- 	    |
 ---------------------------------------------------

*/
$max-width:           1260px;
$max-width-inside:    1060px;


/*********************
grid-system
*********************/

$gridSystem:          25, 50, 75, 100;


/*********************
Медиа-выражения и grid-points
*********************/

/*** Медиа-выражения

*------------------------------------------------------------*
| Миксины для медиавыражений заданы в файле "sbpro/_m.scss"; |
|             Система гридов задана в файле "sbpro/_g.scss"; |
*------------------------------------------------------------*

*------------------------------------------------------------------------------------------------------------*
|   --Видимость медиа выражений--      --Пример использования--         --Система сеток--                    |
| A         B         C         D         E																	                                 |
| -∞        $b        $c        $d       +∞																	                                 |
| +++++++++++++++++++++++++++++++++++++++++                                   col-(25/33/50/66/100)			     |
| ++++++++++++++++++++++++++++++|----------      @include ad() { ... }        col-ad-(25/33/50/66/100)		   |
| ++++++++++++++++++++|--------------------      @include ac() { ... }        col-ac-(25/33/50/66/100)		   |
| ++++++++++|------------------------------      @include ab() { ... }        col-ab-(25/33/50/66/100)		   |
| ------------------------------|++++++++++      @include de() { ... }										                   |
| --------------------|++++++++++++++++++++      @include ce() { ... }										                   |
| ----------|++++++++++++++++++++++++++++++      @include be() { ... }										                   |
| ----------|+++++++++++++++++++|----------      @include bd() { ... }										                   |
| ----------|+++++++++|--------------------      @include bc() { ... }										                   |
| --------------------|+++++++++|----------      @include cd() { ... }										                   |
| 																											                                                     |
|      A1                                 																	                                 |
| -∞   $a1                              +∞																	                                 |
| +++++|-----------------------------------      @include a1() { ... }        col-a1-(25/33/50/66/100)		   |
| 																											                                                     |
|                         E1               																	                                 |
| -∞                     $e1            +∞																	                                 |
| ------------------------|++++++++++++++++      @include e1() { ... }										                   |
| 																											                                                     |
|        P1(1)                 P1(2)       	   																                               |
| -∞     $p1[1]                $p1[2]    +∞	   																                               |
| -------|+++++++++++++++++++++|-----------      @include p1() { ... }										                   |
*------------------------------------------------------------------------------------------------------------*
*/
$a1:                  600px;

$b:                   767px;
$c:                   1100px;
$d:                   1250px;

$e1:                  1700px;


/**********************************
font-family
**********************************/

$font-family:          hervetica, arial, sans-serif;
$font-family-bold:     hervetica, arial, sans-serif;
$font-family-italic:   hervetica, arial, sans-serif;
/**********************************
background
**********************************/

$bg-main: #202020;
$bg-main-opacity-09: rgba(0, 0, 0, 0.9);
$bg-main-color: #dd4899;

/**********************************
heights
**********************************/

$height-header: 80px;

/**********************************
text-colors
**********************************/

$text-color-light: white;
$text-color-nav-active: #ffde21;
$text-color-nav-hover: #ffde21;
$text-color-main: #ffde21;


/**********************************
border-colors
**********************************/

$border-color-nav-arrow: rgba(256, 256, 256, 0.5);

$see-process: 1; // can be 1 or 0


/*********************
spacer
*********************/

$spacer:              10px;
