@import '../_vars';
@import '_m';

html, body {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: 1em;
}
body {
  background-color: #f2f2f2;
}
div, h1, h2, h3, h4, h5, h6, ul, ol, li, a, p, span {
  position: relative;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
div {
  box-sizing: border-box;
}
a:active, a:hover, a:focus, button:focus, input:focus, .slick-slide {
	outline: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
}
p {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
}
table {
  td {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    padding: 3px;
  }
  th {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    padding: 3px;
  }
}
table, td, th {
	margin:0;
	padding:0;
	background:none;
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	background-image:none;
}
h1 {
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  color: #000000;
}
ol {
  padding-left: 18px;
}
