
<form class="sb-search-input__center" action="{{ siteLocale }}{{ search_type }}/search" id="simple-form-filter" method="GET">
    {% if default_params %}
    <input class="default-params" type="hidden" name="status" value="active.enquiries">
    <input class="default-params" type="hidden" name="status" value="active.tendering">
    {% endif %}
    <div class="sb-search-input__top">
        <a {% if search_type=='tender' %} class="active"{% endif %} href="{{ siteLocale ~ 'tender/search' }}?status=active.enquiries&status=active.tendering"><span>{{ 'form.tender-switch'|_ }}</span></a>
        <a {% if search_type=='plan' %} class="active"{% endif %} href="{{ siteLocale ~ 'plan/search' }}"><span>{{ 'form.plan-switch'|_ }}</span></a>
    </div>

    {% if categories|length %}
    <div class="inline-layout search-with-category">
        {% endif %}
        {% if categories|length %}
        <div class="select-category">
            <select name="group">
                <option value="">{{ 'form.search_filter.all_categories'|_ }}</option>
                {% for category in categories %}
                <option value="{{ category.code }}" {% if selected_group == category.code %} selected {% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="sb-search-input__bottom clearfix" id="blocks">
            <div class="sb-search-input__input-wrap">
                <input id="query" type="text" name="query" class="query_input no_blocks sb-search-input__input-field filter-checkboxes" placeholder="{{ 'form.placeholder'|_ }}" autocomplete="off" data-js="form" data-type="{{ search_type }}" data-lang="{{ locale_href }}">
            </div>
            {#<div class="sb-search-input__cat">
                <span class="sb-search-input__cat-span">{{ 'form.title-category'|_ }}</span>
            </div>#}
            <div class="sb-search-input__button">
                <button type="submit" id="search_button_simple" class="search_button">{{ 'form.submit-button'|_ }}</button>
            </div>
        </div>

    {% if categories|length %}
        </div>
    {% endif %}
</form>
