<div class="w c-text ">
    <div class="c">
        <div class="c-text__wrap">
            <div class="c-text__center">
                <div class="block_quotes ">
                    <!--<h2>Чому Нова Пошта в RIALTO</h2>-->
                    <div class="item_quotes">
                        <div class="img-holder">
                            <img src="{{ data.image.path }}" >

                        </div>
                        <div class="text_quotes clearfix">

                            {{ data.comment|raw }}
                            <p><strong>{{ data.author }}<br>
                                {{ data.position }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
