<div class="w c-text">
    <div class="c">
        <div class="c-text__wrap">
            <div class="c-text__center">
                <div class="row">
                    <div class="col-100">
                        {% if data.text_title %}
                            <h2>{{ data.text_title }}</h2>
                        {% endif %}
                        {{ data.text_text|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--

<div class="w c-text">
    <div class="c">
        <div class="c-text__wrap">
            <div class="c-text__center">
                <img src="themes/rialtotender/assets/img/content/block_logo.jpg" class="block_logo">
            </div>
        </div>
    </div>
</div>



<div class="w c-text ">
    <div class="c">
        <div class="c-text__wrap">
            <div class="c-text__center">
                <div class="block_quotes ">
                    <h2>Чому Нова Пошта в RIALTO</h2>
                    <div class="item_quotes">
                        <div class="img-holder">
                            <img src="themes/rialtotender/assets/img/content/man-quotes.jpg" >
                            <p>Виктор Викторович<br>
                                директор</p>
                        </div>
                        <div class="text_quotes">
                            <p>
                                Ознайомитись з цим Регламентом, прийняти його правила і, за необхідності, внести зміни до внутрішніх положень про здійснення закупівель.
                                Призначити Куратора з числа вищих посадових осіб Замовника, який буде отримувати  регулярну звітність про стан закупівель
                                Замовника та проблеми, які виникають в процесі роботи і брати участь у вирішенні спірних питань.
                                Укласти договір з одним або декількома Майданчиками і створити облікові записи, необхідні для роботи в Системі.

                            </p>
                            <ul>
                                <li>Підтримка клієнтів</li>
                                <li>Єдині правила для всіх</li>
                                <li>Безкоштовне використання</li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
-->