{% if areas|length %}
    <div class="w c-slidecards {% if data.areas_up %} go-prev{% endif %}">
        <div class="c">
            <div class="c-slidecards__wrap">
                <div class="c-slidecards__center">
                    {% if data.areas_title %}
                        <h2 class="sb-h2">{{ data.areas_title }}</h2>
                    {% endif %}
                    <div class="c-slidecards__slider js-slidecards-slider">
                        {% for item in areas %}
                            <div class="c-slidecards__item-wrap{{ item.url is empty ? ' c-slidecards__item-wrap--soon':'' }}">
                            		<div class="c-slidecards__soon-wrap">
                                    <div>{{ 'platform.soon'|_ }}</div>
                                </div>
                                <div class="c-slidecards__content">
                                    {% if item.image.path %}
                                        <img src="{{ item.image.path }}">
                                    {% endif %}
                                    <p>{{ item.description }}</p>
                                </div>
                                {% if item.url %}
                                    <a href="{{ item.url }}" class="c-slidecards__item-link">
                                        {{ 'platform.register'|_ }}
                                    </a>
                                {% else %}
                                    <span class="c-slidecards__item-link">
                                        {{ 'platform.register'|_ }}
                                    </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
