<div class="sb-nav__sub-wrap">
    {% for item in menu %}
        {% if item.title %}
            <div class="sb-nav__sub-item">
                <div class="sb-nav__second {% if item.active %} sb-nav__second--active {% endif %}">
                    <a href="{{ item.href }}" {{item.is_target_blank ? ' target="_blank"'}} class="sb-nav__link"></a>
                    <div class="sb-nav__text">{{ item.title }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>