$sb-f-group-border-color: #e5e5e5;
.sb-f {
	margin-top: 25px;
	&--right {
		padding-right: 30px;
		border-right: 1px solid $sb-f-group-border-color;
	}
	&--left {
		padding-left: 30px;
		border-left: 1px solid $sb-f-group-border-color;
	}
	&__group {
		border-bottom: 2px solid $sb-f-group-border-color;
		padding-top: 20px;
		padding-bottom: 20px;
		/*&:first-child {
			padding-top: 0;
		}*/
		&:last-child {
			border-bottom: 0;
		}
	}
	&__title-wrap {
		&--can-show {
			& + .sb-f__content {
				display: none;
			}
			& .sb-f__title:before {
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				transform: rotate(45deg);
				transform-origin: center;
				border-bottom: 2px solid black;
				border-right: 2px solid black;
				position: absolute;
				top: 3px;
				left: 1px;
			}
			& .sb-f__title {
				padding-left: 19px;
				cursor: pointer;
			}
		}
		&--is-active {
			& + .sb-f__content {
				display: block;
			}
			& .sb-f__title:before {
				transform: rotate(-135deg);
				top: 6px;
			}
		}
	}
	&__title-wrap--can-show:hover {
		.sb-f__title {
			opacity: 0.8;
			transition: 0.3s;
		}
	}
	&__title {
		font-size: 13px;
    font-weight: bold;
    color: #1f1f1f;
    transition: color 0.1s;
	}
	&__checked-wrap {
		padding-bottom: 25px;
		padding-top: 25px;
		li {
			background-color: #f2f2f2;
			border-radius: 2px;
			padding-left: 10px;
			padding-top: 5px;
			padding-right: 33px;
			padding-bottom: 8px;
			display: inline-block;
			margin-bottom: 10px;
		}
	}
	&__checked-text {
		font-size: 11px;
		color: #9b9b9b;
		transition: 0.1s;
	}
	&__checked-close {
		width: 15px;
		height: 15px;
		display: block;
		position: absolute;
		cursor: pointer;
		top: 50%;
		right: 9px;
		margin-top: -7px;
		&:after,
		&:before {
			content: '';
			display: block;
			width: 10px;
			height: 1px;
			background-color: #9b9b9b;
			position: absolute;
			top: 50%;
			left: 3px;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:hover {
			& + span {
				opacity: 0.7;
				transition: 0.3s;
			}
		}
	}
	&__clear-wrap {
		position: absolute;
		bottom: 2px;
		left: 0;
		z-index: 20;
		&:hover {
			& + .sb-f__checked-wrap .sb-f__checked-text {
				opacity: 0.7;
				transition: 0.3s;
			}
		}
	}
	&__clear-button {
		font-size: 13px;
		font-weight: 500;
		color: #6090d3;
		border: none;
		border-bottom: 1px dashed #6090d3;
		cursor: pointer;
		transition: 0.1s;
		&:hover {
			border-bottom: 1px dashed rgba(96, 144, 211, 0.42);
		}
	}
	&__input-list-wrap {
		display: block;
		position: absolute;
		top: 100%;
		left: 0px;
		//margin-top: 5px;
		min-width: 320px;
		background: white;
		z-index: 25;
		padding: 10px;
		box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		border: solid 1px #e5e5e5;
		max-height: 280px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 40px;
		padding-left: 15px;
		&:after {
			@extend .clearfix;
		}
		ul {
			li {
				font-size: 13px;
				color: #1a1a1a;
				padding: 10px 0;
				span {
					cursor: pointer;
					transition: 0.1s;
					&:hover {
						opacity: 0.7;
						transition: 0.3s;
					}
				}
			}
		}
	}
	&__input-search-wrap {
		padding-top: 15px;
		input {
			box-sizing: border-box;
			width: 100%;
			border-radius: 2px;
			border: 1px solid #c2c2c2;
			font-size: 13px;
			color: #1a1a1a;
			padding: 6px;
		}
	}
	&__checkbox-wrap {
		padding-top: 10px;
	}
	&__ckeckbox-list {
		max-height: 190px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	&__checkbox-item-wrap {
		padding: 6px 0;
		label {
			cursor: pointer;
			position: relative;
			display: block;
			&:hover {
				p {
					opacity: 0.7;
					transition: 0.3s;
				}
			}
			&:after {
				@extend .clearfix;
			}
			input[type="checkbox"] {
				display: none;
				&:checked {
					& + span {
						background: #ec5e24;
						border-color: #ec5e24;
						transition: 0.1s;
						&:after {
							opacity: 1;
							transform: rotate(-45deg) scale(1);
						}
					}
				}
			}
			span {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 14px;
				height: 14px;
				border-radius: 2px;
				border: solid 1px #c2c2c2;
				transition: 0.1s;
				&:after {
					content: '';
					display: block;
					width: 6px;
					height: 2px;
					border-bottom: 2px solid white;
					border-left: 2px solid white;
					position: absolute;
					top: 4px;
					left: 3px;
					opacity: 0;
					transform: rotate(-45deg) scale(0.1);
					transition: 0.1s;
				}
			}
			p {
				box-sizing: border-box;
				padding-right: 20px;
				display: block;
				font-size: 13px;
				line-height: 1.45;
				color: #1a1a1a;
				padding-left: 30px;
				width: 100%;
				transition: 0.1s;
			}
		}
	}
	&__small-text-wrap {
		padding: 5px 0;
		padding-top: 10px;
	}
	&__small-text {
		font-size: 11px;
		color: #9b9b9b;
		line-height: 1.3;
	}
	&__small-orange {
		color: #ec5e24;
	}
}


.pl {
	padding-left: 30px;
}

#overlay {
	z-index: 30;
	position: fixed;
	background: #fff;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

#search_result, .c-header, .c-footmenu, .c-footer{
	position: relative;
	
}


@media screen and (max-width: 900px) {
	.c-s .sb-f__group {
		width: 100%;
		float: left;
		padding-right: 0;
		border-bottom: none;
	}
}