.c-part-button {
  &--b-center {
    .c-part-button__wrap {
      text-align: center;
    }
  }
  &--b-right {
    .c-part-button__wrap {
      text-align: right;
    }
  }
  .c {
    @extend .padding-left;
    @extend .padding-right;
  }
  &__wrap {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
	@include ab() {
		padding-left: 0;
		padding-right: 0;
	}
    &--white {
      background: #ffffff;
    }
    &--grey {
      background: #f2f2f2;
    }
    &--transparent {
      background: transparent;
    }
  }
  &__center {
    @extend .max-width-inner;
    margin: 0 auto;
  }
  &__main-link {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    margin-top: 10px;
    padding: 11px 25px;
    min-width: 180px;
    box-sizing: border-box;
    background: #ec5e24;
    border: 2px solid #ec5e24;
  }
}
